<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>letv</key>
	<string></string>
	<key>fengxing</key>
	<string></string>
	<key>qiyi</key>
	<string></string>
	<key>youku</key>
	<string></string>
	<key>sinahd</key>
	<string></string>
	<key>sohu</key>
	<string></string>
	<key>56</key>
	<string></string>
	<key>qq</key>
	<string></string>
	<key>pptv</key>
	<string></string>
	<key>m1905</key>
	<string></string>
</dict>
</plist>
